#foreach($order in $!{pageInfo.list})
<tr>
	<td width="5%">$!{order.id}</td>
	<td width="12%"><a class="seach-detail" href="javascript:;" data-id="$!{order.id}">$!{order.orderNo}</a></td>
	<td>$!{order.user.realName}</td>
	<td>$!{order.customName}</td>
	<td>$!{order.customPhone}</td>
	<td>$!{order.shipmentsCompany}</td>
	<td>$!{order.shipmentsAddress}</td>
	<td width="13%">$!{order.remark}</td>
	<td>$!{order.createTime}</td>
</tr>
#end

<script type="text/javascript">
	// 保证分页插件只加载一次.
	if (i == 1) {
		layui.use('laypage', function(){
		   var laypage = layui.laypage;
		  
		   //完整功能
		   laypage.render({
		     elem: 'pageHelper',
		     count: '$!{pageInfo.total}',
		     limit: '$!{pageInfo.pageSize}',
		     layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
		     jump: function(obj, first){
		    	 if (!first) {
		    		 $("#currPage").val(obj.curr);
			    	 toLoad();
		    	 }
		    	 
		    	 return false;
		     }
		   });
		});
	}
	
	form.render('checkbox');
</script>