<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>添加产品</title>
	<link rel="stylesheet" href="#getContext()/static/layui/css/layui.css">
	<link rel="stylesheet" href="#getContext()/static/css/common.css">
	<style type="text/css">
		.layui-form{
			margin: 10px;
		}
		.layui-form .layui-form-label{
			width: 100px;
		}
		.layui-form .layui-input-inline{
			width: 300px;			
		}
		.layui-form-item>span{
			position: relative;
			top: 8px;
		}
	</style>
</head>
<body>
	<form class="layui-form" type="post" lay-filter="form">
		<input type="hidden" name="id" id="menu-id" value="$!{menu.id}" />
	
		<div class="layui-form-item">
			<label class="layui-form-label">菜单名称</label>
			<div class="layui-input-inline">
				<input type="text" name="menuName"
					placeholder="请输入菜单名称" autocomplete="off" class="layui-input" lay-verify="menuName" value="$!{menu.menuName}"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">父级菜单</label>
			<div class="layui-input-inline">
				<select name="parentId" value="0">
					<option value="0">请选择父级...</option>
					#foreach($menu in $!{parents})
						<option value="$!{menu.id}">$!{menu.menuName}</option>
					#end
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">访问路径</label>
			<div class="layui-input-inline">
				<input type="text" name="url"
					placeholder="请输入访问路径" autocomplete="off" class="layui-input" value="$!{menu.url}"/>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit>立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary reset">重置</button>
			</div>
		</div>
	</form>
	
	<!-- JavaScript -->
	<script type="text/javascript" src="#getContext()/static/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="#getContext()/static/js/jquery.form.js"></script>
	<script src="#getContext()/static/layui/layui.all.js" charset="utf-8"></script>
	<script type="text/javascript">
		var menuId = $("#menu-id").val();
	
		layui.use('form', function(){
			 form = layui.form;
			 
			 form.on('submit(form)', function( data ){
				 var url = "#getContext()/menu/addMenu.do";
				 // 如果是编辑提交，则跳转到其他地址
				 if (menuId != "") {
					 url = "#getContext()/menu/editMenu.do";
				 }
				 
				 $("form").ajaxSubmit({
					url: url,
					type: "post",
					dataType: "json",
					success: function( result ) {
						layer.msg( result.msg );
						$(".reset").trigger("click");
					},
					error: function( result ) {
						layer.msg( result.msg );
						$(".reset").trigger("click");
					}
				 });
				  
				 return false;
			 });  
			 
			 if (menuId != "") {
				 $("select").val("$!{menu.parentId}");
				 form.render('select');
			 }
		});
	</script>
	<script type="text/javascript" src="#getContext()/static/js/layui.validate.ext.js"></script>
	<script type="text/javascript">
		 form.verify({
			 menuName: function(value, item) {
				if (value == "") {
					return "菜单名称不能为空";
				}
				
				var available = false;
				jQuery.ajax({
					url: "#getContext()/menu/checkMenuIsUseable.do",
					type: "post",
					data: {"menuName": value, "parentId": $("select").val(), "id": "$!{menu.id}"},
					dataType: "json",
					async: false,
					success: function( result ) {
						if (result.code == "1") {
							available = true;
						}
					}
				});
				
				if ( !available ) {
					return "输入的菜单名称已经在当前级别存在";
				}
			 }
		 });
	</script>
</body>
</html>