#foreach($menu in $!{pageInfo.list})
<tr>
	<td><input type="checkbox" lay-skin="primary" value="$!{menu.id}" data-parentid="$!{menu.parent.id}"></td>
	<td>$!{menu.id}</td>
	<td>
		#if($!{menu.parent})
			<
		#end
		< &nbsp;$!{menu.menuName}
	</td>
	<td>
		#if($!{menu.parent})
			$!{menu.parent.menuName}
		#end
	</td>
	<td>$!{menu.url}</td>
	<td>$!{menu.createTime}</td>
	<td><button class="layui-btn layui-btn-sm menu-edit" data-id="$!{menu.id}">编辑</button></td>
</tr>
#end

<script type="text/javascript">
	// 保证分页插件只加载一次.
	if (i == 1) {
		layui.use('laypage', function(){
		   var laypage = layui.laypage;
		  
		   //完整功能
		   laypage.render({
		     elem: 'pageHelper',
		     count: '$!{pageInfo.total}',
		     limit: '$!{pageInfo.pageSize}',
		     layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
		     jump: function(obj, first){
		    	 if (!first) {
		    		 $("#currPage").val(obj.curr);
			    	 toLoad();
		    	 }
		    	 
		    	 return false;
		     }
		   });
		});
	}
	
	form.render('checkbox');
</script>