<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>产品列表</title>
	<link rel="stylesheet" href="#getContext()/static/layui/css/layui.css">
	<style type="text/css">
		.btn-group{
			margin-right: 5px;
		}
	</style>
</head>
<body>
	<div class="btn-group">
	  <button class="layui-btn layui-btn-sm product-add" data-type="getCheckData">添加产品</button>
	  <button class="layui-btn layui-btn-sm layui-btn-primary product-delete" data-type="isAll">删除</button>
	</div>
	
	<div class="layui-form">
		<table class="layui-table">
			<colgroup>
				<col width="150">
				<col width="200">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th><input type="checkbox" lay-skin="primary" id="checkAll"></th>
					<th>编号</th>
					<th>产品名称</th>
					<th>产品代码</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div id="pageHelper"></div>
	<input type="hidden" id="currPage" value="1"/>
	
	<script type="text/javascript" src="#getContext()/static/js/jquery-1.8.3.js"></script>
	<script src="#getContext()/static/layui/layui.all.js" charset="utf-8"></script>
	<script type="text/javascript" src="#getContext()/static/js/common.js"></script>
	
	<script type="text/javascript">
		$(function() {
			// 添加产品信息
			$(".product-add").bind("click", function() {
				layer.open({
					  type: 2,
					  title: '添加产品',
					  shadeClose: true,
					  shade: 0.2,
					  area: ['520px', '350px'],
					  content: '#getContext()/product/toAddProduct.do',
					  cancel: function(index, lerayo) {
						  window.location.reload();
					  }
				});
			});	
			
			// 修改产品信息
			$(document).on("click", ".product-edit", function() {
				var productId = $(this).data("id");
				
				layer.open({
					  type: 2,
					  title: '编辑产品',
					  shadeClose: true,
					  shade: 0.2,
					  area: ['520px', '350px'],
					  content: '#getContext()/product/toEditProduct.do?id=' + productId,
					  cancel: function(index, lerayo) {
						  window.location.reload();
					  }
				});
			});
			
			// 删除产品信息
			$(".product-delete").bind("click", function() {
				var ids = "";
				$("tbody").find(":checked").each(function( index ) {
					ids += "," + $(this).val();
				});
				
				if (ids == "") {
					layer.alert("请选择需要删除的产品");					
					return false;
				}
				
				layer.confirm("确定删除产品吗？", {
				  btn: ["确定", "取消"]	
				}, function(){
					layer.prompt({title: '请输入您的密码', formType: 1}, function(pass, index){
					    var isPass = false;
					    
					    jQuery.ajax({
							 url: "#getContext()/order/validPassword.do",
							 type: "post",
							 data: {"password": pass},
							 dataType: "json",
							 async: false,
							 success: function( result ) {
								 if (result.code == "1") {
									 isPass = true;
								 }
							 }
					    });
						 
						if ( !isPass ) {
							layer.msg("密码输入错误");
							return false;
						}
						layer.close(index);
						ids = ids.substring(1);
						
						jQuery.ajax({
							url: "#getContext()/product/deleteProducts.do",
							type: "post",
							data: {"productIds": ids},
							dataType: "json",
							async: false,
							success: function( result ) {
								layer.confirm(result.msg, {
								  btn: ["确定"]
								}, function(){
								  layer.close(layer.index);
								  window.location.reload();
								});
							},
							error: function( result ) {
								layer.confirm(result.msg, {
								  btn: ["确定"]
								}, function(){
								  layer.close(layer.index);
								  window.location.reload();
								});
							}
						});
					});
				}, function() {
					layer.close(layer.index);
				});
			});
			
			// 全选.
			$(document).on("click", "#checkAll + div", function() {
				var isChecked = $("#checkAll").is(":checked");
				
				$("tbody").find(":checkbox").prop("checked", isChecked);
				
				form.render('checkbox');
			});
			
			toLoad();
		});
		
		layui.use("form", function() {
			form = layui.form;
		});
		
		var i = 0;
		// 加载分页信息.
		function toLoad() {
			var currPage = $("#currPage").val();
			
			var data = $("form").serializeObject();
			data['curpage'] = currPage;
			
			$("tbody").empty();
			
			$("tbody").load("#getContext()/product/products.do", data);
			
			i++;
		}
	</script>
</body>
</html>