<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>库存列表</title>
	<link rel="stylesheet" href="#getContext()/static/layui/css/layui.css">
	<style type="text/css">
		.btn-group{
			margin-right: 5px;
		}
		.layui-split{
			margin-left: 50px;
		}
		.layui-split input{
			width: 250px;
		}
	</style>
</head>
<body>
	<form class="layui-form" >
		<div class="btn-group">
		  <button class="layui-btn layui-btn-sm stock-add" data-type="getCheckData">添加库存</button>
		  <button class="layui-btn layui-btn-sm layui-btn-primary stock-delete" >删除库存</button>
		  <button class="layui-btn layui-btn-sm layui-btn-primary stock-export" >导出库存</button>
		  <!-- <button class="layui-btn layui-btn-sm layui-btn-primary stock-import" data-type="isAll">导入库存信息</button> -->
		  <div class="layui-inline layui-split">
		    <input type="text" name="product.productName" placeholder="请输入型号名称、产品代码或序列号" autocomplete="off" class="layui-input" lay-verify=""/>
		  </div>
		  <div class="layui-input-inline">
			<select name="status" lay-verify="status" value="-1">
				<option value="-1">请选择状态...</option>
				<option value="1">正常</option>
				<option value="2">破损</option>
			</select>
		  </div>
		  #if (!$!{currUser.role.roleName.contains("客户")}) 
		 	<div class="layui-input-inline">
				<select name="userId" lay-verify="select" value="-1">
					<option value="-1">请选择客户...</option>
					#foreach($client in $!{clients})
						<option value="$!{client.id}">$!{client.realName}</option>
					#end
				</select>
			</div>	  
		  #end
		  <button class="layui-btn seach" data-type="reload">搜索</button>
		</div>
	</form>
	
	<div class="layui-form">
		<table class="layui-table" lay-filter="parse-table">
			<colgroup>
				<col width="5">
				<col width="90">
				<col width="80">
				<col width="70">
				<col width="60">
				<col width="50">
				<col width="65">
				<col width="130">
				<!-- <col width="120"> -->
				<col width="130">
				<col width="80">
				<col width="100">
				<col width="80">
			</colgroup>
			<thead>
				<tr>
					<th><input type="checkbox" lay-skin="primary" id="checkAll"></th>
					<th>产品名称</th>
					<th>产品代码</th>
					<th>序列号</th>
					<th>状态</th>
					<th>数量</th>
					<th>批次号</th>
					<th>合同号</th>
					<!-- <th>提单号</th> -->
					<th>到货日期</th>
					<th>所属客户</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div id="pageHelper"></div>
	<input type="hidden" id="currPage" value="1"/>

	<script type="text/javascript" src="#getContext()/static/js/jquery-1.8.3.js"></script>
	<script src="#getContext()/static/layui/layui.all.js" charset="utf-8"></script>
	<script type="text/javascript" src="#getContext()/static/js/common.js"></script>
	<script type="text/javascript">
		$(function() {
			// 添加库存信息
			$(".stock-add").bind("click", function() {
				layer.open({
					  type: 2,
					  title: '添加库存',
					  shadeClose: true,
					  shade: 0.2,
					  area: ['520px', '540px'],
					  content: '#getContext()/stock/toAddStock.do',
					  cancel: function(index, lerayo) {
						  toLoad();
					  }
				});
				
				return false;
			});	
			
			// 导入库存信息.
			$(".stock-import").bind("click", function() {
				layer.open({
					  type: 2,
					  title: '添加库存',
					  shadeClose: true,
					  shade: 0.2,
					  area: ['520px', '180px'],
					  content: '#getContext()/stock/toImportStock.do',
					  cancel: function(index, lerayo) {
						  toLoad();
					  }
				});		
				
				return false;
			});
			
			// 导出库存信息
			$(".stock-export").bind("click", function() {
				layer.open({
					  type: 2,
					  title: '导出库存信息',
					  shadeClose: true,
					  shade: 0.2,
					  area: ['520px', '250px'],
					  content: '#getContext()/stock/toExport.do',
					  cancel: function(index, lerayo) {
						  toLoad();
					  }
				});		
				
				return false;
			});
			
			// 备注库存信息
			$(document).on("click", ".stock-remark", function() {
				var stockId = $(this).data("id");
				layer.open({
					  type: 2,
					  title: '备注库存信息',
					  shadeClose: true,
					  shade: 0.2,
					  area: ['450px', '235px'],
					  content: '#getContext()/stock/toRemark.do?id=' + stockId,
					  cancel: function(index, lerayo) {
						  toLoad();
					  }
				});
			});
			
			// 编辑库存信息.
			$(document).on("click", ".stock-edit", function() {
				var stockId = $(this).data("id");
				layer.open({
					  type: 2,
					  title: '编辑库存信息',
					  shadeClose: true,
					  shade: 0.2,
					  area: ['520px', '540px'],
					  content: '#getContext()/stock/toEditStock.do?id=' + stockId,
					  cancel: function(index, lerayo) {
						  toLoad();
					  }
				});
			});
			
			// 删除角色信息
			$(".stock-delete").bind("click", function() {
				var ids = "";
				$("tbody").find(":checked").each(function( index ) {
					ids += "," + $(this).val();
				});
				
				if (ids == "") {
					layer.alert("请选择需要删除的库存");					
					return false;
				}
				
				layer.confirm("确定删除库存吗？", {
				  btn: ["确定", "取消"]
				}, function(){
					layer.prompt({title: '请输入您的密码', formType: 1}, function(pass, index){
					    var isPass = false;
					    
					    jQuery.ajax({
							 url: "#getContext()/order/validPassword.do",
							 type: "post",
							 data: {"password": pass},
							 dataType: "json",
							 async: false,
							 success: function( result ) {
								 if (result.code == "1") {
									 isPass = true;
								 }
							 }
					    });
						 
						if ( !isPass ) {
							layer.msg("密码输入错误");
							return false;
						}
						layer.close(index);
						ids = ids.substring(1);
						
						jQuery.ajax({
							url: "#getContext()/stock/deleteStocks.do",
							type: "post",
							data: {"stockIds": ids},
							dataType: "json",
							async: false,
							success: function( result ) {
								layer.confirm(result.msg, {
								  btn: ["确定"]
								}, function(){
								  layer.close(layer.index);
								  window.location.reload();
								});
							},
							error: function( result ) {
								layer.confirm(result.msg, {
								  btn: ["确定"]
								}, function(){
								  layer.close(layer.index);
								  window.location.reload();
								});
							}
						});
					});
				}, function() {
					layer.close(layer.index);
				});
				
				return false;
			});
			
			// 全选.
			$(document).on("click", "#checkAll + div", function() {
				var isChecked = $("#checkAll").is(":checked");
				
				$("tbody").find(":checkbox").prop("checked", isChecked);
				
				form.render('checkbox');
			});
			
			// 筛选按钮点击事件
			$(".seach").bind("click", function(){
				i = 0;						// 修改此参数可重新刷新分页
				$("#currPage").val("1");	// 修改分页值为第一页 
				toLoad();
				return false;
			});
			
			toLoad();
		});
		
		layui.use("form", function() {
			form = layui.form;
		});
		
		var i = 0;
		// 加载分页信息.
		function toLoad() {
			var currPage = $("#currPage").val();
			
			var data = $("form").serializeObject();
			data['curpage'] = currPage;
			
			$("tbody").empty();
			
			$("tbody").load("#getContext()/stock/stocks.do", data);
			
			i++;
		}
	</script>
</body>
</html>